<div class="nav">
    <div class="logout">
        <a class="link" href="/admin/logout"
            ><i class="fas fa-user icon"></i> Logout</a
        >
    </div>

    <h3>SHOW</h3>

    <div class="show">
        <a class="link" href="/admin/show/all"
            ><i class="fas fa-book-open"></i> all books</a
        >
    </div>

    <div class="show">
        <a class="link" href="/admin/show/available"
            ><i class="fas fa-book"></i> available books</a
        >
    </div>

    <div class="show">
        <a class="link" href="/admin/show/borrowed"
            ><i class="fas fa-swatchbook"></i> borrowed books</a
        >
    </div>

    <div class="show">
        <a class="link" href="/admin/show/users"
            ><i class="fas fa-users"></i> all users</a
        >
    </div>

    <div class="show">
        <a class="link" href="/admin/show/admins">
            <i class="fas fa-user-friends"></i> admins
        </a>
    </div>

    <div class="show">
        <a class="link" href="/admin/show/logs">
            <i class="fas fa-clipboard-list"></i> logs
        </a>
    </div>

    <h3>ADD</h3>
    <div class="add">
        <a class="link" href="/admin/add_book"
            ><i class="far fa-plus-square"></i> book</a
        >
    </div>

    <div class="add">
        <a class="link" href="/admin/reg_user"
            ><i class="fas fa-user-plus"></i> user</a
        >
    </div>

    <div class="add">
        <a class="link" href="/admin/add_admin"
            ><i class="fas fa-user-secret"></i> admin</a
        >
    </div>
</div>
