<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Welcome | HOME</title>
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/home.css" />
        <link rel="stylesheet" href="/assets/css/all.css" />
    </head>
    <body>
        <div class="parent">
            <div class="greet">
                <h2>
                    Hello <span class="fname"><%= user.fname %></span>! It's
                    good to have you here!
                </h2>
            </div>

            <div class="tag-line">
                <p>What do you want to do?</p>
            </div>

            <div class="btn-cont">
                <a
                    class="borrow link bg-green"
                    href="/user/<%= user._id %>/borrow"
                    ><i class="fas fa-bolt"></i> borrow a book</a
                >
                <a
                    class="return link bg-blue"
                    href="/user/<%= user._id %>/return"
                    ><i class="fas fa-reply-all"></i> return a book</a
                >
            </div>

            <div class="dp">
                <img
                    src="/images/avatars/<%= user.avatar %>"
                    alt="display pic"
                />
            </div>

            <div class="footer">
                <p>All Rights Reserved. 2019 rcob &copy;</p>
            </div>
        </div>
    </body>
</html>
